### Count vectorizer is a technique used in NLP i.e. Natural Language Processing for transforming a sentence of text into a series of numbers which a machine learning model can understand

### Following are steps in count vectorizer:<br><br>1) At first the words in a sentence is converted to a tokens.For eg from word "My Name is Bishal Giri" and My Name is Biraj Shah,it is converted in tokens as ['My','Name','is','Bishal','Giri','Biraj','Shah'].Here duplicate words are removed<br><br>2)Now from the list of tokens it finds how many time word occur in a sentence as :<br><br>"My Name is Bishal Giri" = [1,1,1,1,1,0,0].Tokens "Biraj" and "Giri" have not been appeared in a text,so there is assigned 0 in their place.<br>"My Name is Biraj Shah"=[1,1,1,0,0,1,1].Here Bishal Giri doesnot appears so there is 0 in its place.<br><br>Both array corresponds to the list of tokens created in tokenization phase i.e ['My','Name','is','Bishal','Giri','Biraj','Shah']

<h2 style = 'color:purple;'>Practical implementations:</h2>

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [26]:
data = [
    "The quick brown fox jumps over the lazy dog.",
    "Never jump over the lazy dog quickly.",
    "The quick brown dog jumped over the lazy fox."
]

In [28]:
import pandas as pd
import numpy as np
df =pd.DataFrame(data)

In [32]:
df

                                               0
0   The quick brown fox jumps over the lazy dog.
1          Never jump over the lazy dog quickly.
2  The quick brown dog jumped over the lazy fox.

In [36]:
cv = CountVectorizer()
new_df = cv.fit_transform(df[0]) ## fit_tranforrm(df) matra lekhyo vane cv ma index ko int value ni janxa ra error dinca.So only giving the value of column not index

### Tokens created in our case can be found as:

In [41]:
print('Token created ' , cv.get_feature_names_out())

Token created  ['brown' 'dog' 'fox' 'jump' 'jumped' 'jumps' 'lazy' 'never' 'over' 'quick'
 'quickly' 'the']

In [45]:
print('Vectors for each sentence in our data is ', new_df.toarray())

Vectors for each sentence in our data is  [[1 1 1 0 0 1 1 0 1 1 0 2]
 [0 1 0 1 0 0 1 1 1 0 1 1]
 [1 1 1 0 1 0 1 0 1 1 0 2]]

## Writing above vectors in a good form

In [54]:
arrays = new_df.toarray()
for words,vectrs in zip(data,arrays):
    print(f"THE VECTOR FOR WORD '{words}' IS \n {vectrs}")

THE VECTOR FOR WORD 'The quick brown fox jumps over the lazy dog.' IS
 [1 1 1 0 0 1 1 0 1 1 0 2]
THE VECTOR FOR WORD 'Never jump over the lazy dog quickly.' IS
 [0 1 0 1 0 0 1 1 1 0 1 1]
THE VECTOR FOR WORD 'The quick brown dog jumped over the lazy fox.' IS
 [1 1 1 0 1 0 1 0 1 1 0 2]