In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('cars.csv')

In [21]:
df.shape

(8128, 5)

In [7]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [9]:
df['brand'].nunique()

32

In [11]:
from sklearn.model_selection import train_test_split
X = df.iloc[:,:4]
Y = df.iloc[:,-1]

In [15]:
Y

0       450000
1       370000
2       158000
3       225000
4       130000
         ...
8123    320000
8124    135000
8125    382000
8126    290000
8127    290000
Name: selling_price, Length: 8128, dtype: int64

X_train,X_test,Y_train,Y_test = train_test_split(X,
                                                Y,
                                                test_size=0.2,
                                                random_state=0)

In [23]:
X_test

         brand  km_driven    fuel         owner
3558   Hyundai      40000  Diesel   First Owner
233   Mahindra      70000  Diesel   First Owner
7952    Maruti       5000  Petrol   First Owner
572     Maruti     120000  Petrol   Third Owner
6960     Lexus      20000  Petrol   First Owner
...        ...        ...     ...           ...
7576      Fiat     100000  Diesel   Third Owner
1484    Maruti     120000  Petrol   Third Owner
1881    Maruti      40000  Diesel   First Owner
4917   Hyundai       2350  Petrol   First Owner
5934   Hyundai      80000  Diesel  Second Owner

[1626 rows x 4 columns]

In [31]:
from sklearn.preprocessing import OneHotEncoder
oe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [37]:
X_train_encoded = oe.fit_transform(X_train[['fuel','owner']])

In [39]:
X_train_encoded

array([[0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.]])

In [45]:
h=np.hstack((X_train[['brand','owner']].values,X_train_encoded))

In [47]:
h.shape

(6502, 9)

In [49]:
pd.DataFrame(h)

               0             1    2    3    4    5    6    7    8
0        Hyundai   First Owner  0.0  1.0  0.0  0.0  0.0  0.0  0.0
1           Tata   Third Owner  1.0  0.0  0.0  0.0  0.0  0.0  1.0
2        Hyundai  Second Owner  1.0  0.0  0.0  0.0  1.0  0.0  0.0
3       Mahindra  Second Owner  1.0  0.0  0.0  0.0  1.0  0.0  0.0
4         Maruti   First Owner  0.0  0.0  1.0  0.0  0.0  0.0  0.0
...          ...           ...  ...  ...  ...  ...  ...  ...  ...
6497        Tata   Third Owner  1.0  0.0  0.0  0.0  0.0  0.0  1.0
6498        Ford  Second Owner  1.0  0.0  0.0  0.0  1.0  0.0  0.0
6499     Hyundai  Second Owner  0.0  0.0  1.0  0.0  1.0  0.0  0.0
6500  Volkswagen   First Owner  1.0  0.0  0.0  0.0  0.0  0.0  0.0
6501     Hyundai   First Owner  0.0  0.0  1.0  0.0  0.0  0.0  0.0

[6502 rows x 9 columns]